<div class="containerPrincipal">
  <div class="wrapper">
    <div class="cardCategoria">
      <img class="imagemFotoCategoria" src="assets/imgs/combo.png" />

      <!--   <div class="containerFotoCategoria">
      </div> -->
      <div class="containerInfoCategoria">
        <div class="titulo">Combos</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
    <div class="cardCategoria">
      <img class="imagemFotoCategoria" src="assets/imgs/entradas.jpg" />

      <!--   <div class="containerFotoCategoria">
      </div> -->
      <div class="containerInfoCategoria">
        <div class="titulo">Entradas</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
    <div class="cardCategoria">
      <img class="imagemFotoCategoria" src="assets/imgs/sobremesas.png" />

      <!--   <div class="containerFotoCategoria">
      </div> -->
      <div class="containerInfoCategoria">
        <div class="titulo">Sobremesas</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
    <div class="cardCategoria">
      <img class="imagemFotoCategoria" src="assets/imgs/pizzaCategory.jpg" />

      <!--   <div class="containerFotoCategoria">
      </div> -->
      <div class="containerInfoCategoria">
        <div class="titulo">Pizza</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
    <div class="cardCategoria">
      <img
        class="imagemFotoCategoria"
        src="assets/imgs/hamburguerCategoria.jpg"
      />

      <!--   <div class="containerFotoCategoria">
      </div> -->
      <div class="containerInfoCategoria">
        <div class="titulo">Hamburger</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
    <div class="cardCategoria">
      <img class="imagemFotoCategoria" src="assets/imgs/sushiCategoria.png" />

      <!--   <div class="containerFotoCategoria">
      </div> -->
      <div class="containerInfoCategoria">
        <div class="titulo">Sushi</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
