<div class="containerPrincipal">
  <div class="wrapper">
    <div class="cardCategoria">
      <div class="containerFotoCategoria"></div>
      <div class="containerInfoCategoria">
        <div class="titulo">Hamburguizi🍔</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
    <div class="cardCategoria">
      <div class="containerFotoCategoria"></div>
      <div class="containerInfoCategoria">
        <div class="titulo">Hamburguizi🍔</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
    <div class="cardCategoria">
      <div class="containerFotoCategoria"></div>
      <div class="containerInfoCategoria">
        <div class="titulo">Hamburguizi🍔</div>
        <div class="preco">a partir de R$20</div>
        <div class="btnCTA">
          Compre agora
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
