<div class="containerPrincipal">
  <div class="wrapperPrincipal">
    <div class="containerLogo">Bite</div>
    <div class="containerMenusNavegacao">
      <div class="itemMenuNavegacao">Home</div>
      <div class="itemMenuNavegacao">Menu</div>
      <div class="itemMenuNavegacao">Carrinho</div>
    </div>
    <div class="containerBtnsAcoes">
      <mat-icon>shopping_cart</mat-icon>
      <mat-icon>search</mat-icon>
      <button class="pecaAgoraBtn" mat-raised-button>Peça agora</button>
    </div>
  </div>
</div>
