.containerPrincipalHero {
  width: 100%;
  height: 80vh;
}

.wrapper {
  width: 100%;
  background: red;
  height: 80vh;
}

.containerIndicadores {
  display: flex;
  gap: 10px;
}

.indicador {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background-color: white;
  border: 1px solid black;
}
.indicador .active {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: yellow;
  border: none;
}

.containerTexto {
  margin: auto auto auto 5%;
}
