<div class="containerPrincipalHero">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="wrapper">
          <div class="containerImg"></div>
          <div class="containerTexto">
            <div class="tituloTexto">Bite fast food 2</div>
            <div class="descTexto">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quas nulla magni et deleniti repudiandae nobis consequuntur
              temporibus officiis illo.
            </div>
            <button class="pecaAgoraBtn" mat-raised-button>Peça agora</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="wrapper">
          <div class="containerImg"></div>
          <div class="containerTexto">
            <div class="tituloTexto">Bite fast food 3</div>
            <div class="descTexto">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quas nulla magni et deleniti repudiandae nobis consequuntur
              temporibus officiis illo.
            </div>
            <button class="pecaAgoraBtn" mat-raised-button>Peça agora</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="wrapper">
          <div class="containerImg"></div>
          <div class="containerTexto">
            <div class="tituloTexto">Bite fast food 4</div>
            <div class="descTexto">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quas nulla magni et deleniti repudiandae nobis consequuntur
              temporibus officiis illo.
            </div>
            <button class="pecaAgoraBtn" mat-raised-button>Peça agora</button>
          </div>
        </div>
      </div>
    </div>
    <div class="containerIndicadores">
      <div
        data-bs-target="home#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="indicador active"
      >
        0
      </div>
      <div
        data-bs-target="home#carouselExampleIndicators"
        data-bs-slide-to="1"
        class="indicador"
      >
        1
      </div>
      <div
        data-bs-target="home#carouselExampleIndicators"
        data-bs-slide-to="2"
        class="indicador"
      >
        2
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="home#carouselExampleIndicators"
      role="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a
      class="carousel-control-next"
      href="home#carouselExampleIndicators"
      role="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</div>
