<app-navbar></app-navbar>

<div class="containerPrincipal">
  <div class="wrapper">
    <div class="tituloPedidos">Pedidos em tempo real</div>
    <div class="mt-5 containerPedidos">
      <div (click)="openOrder(001)" class="pedidoItem">
        <div class="containerSenha">
          Senha:
          <div class="senha">001</div>
          <div class="ms-3 status">
            Pendente
            <div class="containerLuzStatus"></div>
          </div>
        </div>
      </div>
      <div (click)="openOrder(001)" class="pedidoItem">
        <div class="containerSenha">
          Senha:
          <div class="senha">001</div>
          <div class="ms-3 status">
            Pendente
            <div class="containerLuzStatus"></div>
          </div>
        </div>
      </div>
      <div (click)="openOrder(001)" class="pedidoItem">
        <div class="containerSenha">
          Senha:
          <div class="senha">001</div>
          <div class="ms-3 status">
            Pendente
            <div class="containerLuzStatus"></div>
          </div>
        </div>
      </div>
      <div (click)="openOrder(001)" class="pedidoItem">
        <div class="containerSenha">
          Senha:
          <div class="senha">001</div>
          <div class="ms-3 status">
            Pendente
            <div class="containerLuzStatus"></div>
          </div>
        </div>
      </div>
      <div (click)="openOrder(001)" class="pedidoItem">
        <div class="containerSenha">
          Senha:
          <div class="senha">001</div>
          <div class="ms-3 status">
            Pendente
            <div class="containerLuzStatus"></div>
          </div>
        </div>
      </div>
      <div (click)="openOrder(001)" class="pedidoItem">
        <div class="containerSenha">
          Senha:
          <div class="senha">001</div>
          <div class="ms-3 status">
            Pendente
            <div class="containerLuzStatus"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
