<div class="containerPrincipalBanner">
  <div class="wrapper">
    <div class="containerVideo">
      <video class="video" autoplay loop>
        <source src="assets/videos/closeUpMeat.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="containerInfo">
      <h1 class="titulo">We are Bite</h1>
      <div class="desc">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable. If you are
        going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything embarrassing hidden in the middle of text. All
      </div>
      <div class="btnCta">Veja mais</div>
    </div>
  </div>
</div>
