<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="containerPrincipalHome">
    <button
      (click)="drawer.toggle()"
      mat-mini-fab
      class="openSideNavBtn"
      color="primary"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <app-navbar></app-navbar>
    <app-hero></app-hero>
    <app-categorias-cta></app-categorias-cta>

    <app-cardapio></app-cardapio>
    <app-banner></app-banner>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>
