<div class="containerOverflow">
  <div class="containerPrincipal">
    <div class="containerListaItems">
      <div class="wrapperListaItems">
        <div class="containerFotoDetalhes">
          <div class="tituloItem">Hamburguin</div>
          <div class="mb-2 desc">Preço inicial: R$00,00</div>
          <div class="containerFotoItem">
            <img class="imagemItem" src="assets/imgs/hamburgerCardItem.jpg" />
          </div>
          <div class="mt-2 descItem">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form,
          </div>
          <div class="mt-3 controladorQuantidade">
            <div class="containerQuantidade">
              <span (click)="number = number - 1">-</span>

              <span>{{ number }}</span>
              <span (click)="number = number + 1">+</span>
            </div>
          </div>
        </div>
        <div class="containerEscolherAdicional">
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Escolha um acompanhamento</div>
            <div class="containerAcompanhamentos">
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
            </div>
          </div>
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Escolha a bebida</div>
            <div class="containerAcompanhamentos">
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="containerEscolheringredientes">
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Personalizar seu produto</div>
            <div class="containeringredientes">
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapperListaItems">
        <div class="containerFotoDetalhes">
          <div class="tituloItem">Hamburguin</div>
          <div class="mb-2 desc">Preço inicial: R$00,00</div>
          <div class="containerFotoItem">
            <img class="imagemItem" src="assets/imgs/hamburgerCardItem.jpg" />
          </div>
          <div class="mt-2 descItem">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form,
          </div>
          <div class="mt-3 controladorQuantidade">
            <div class="containerQuantidade">
              <span (click)="number = number - 1">-</span>

              <span>{{ number }}</span>
              <span (click)="number = number + 1">+</span>
            </div>
          </div>
        </div>
        <div class="containerEscolherAdicional">
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Escolha um acompanhamento</div>
            <div class="containerAcompanhamentos">
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
            </div>
          </div>
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Escolha a bebida</div>
            <div class="containerAcompanhamentos">
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="containerEscolheringredientes">
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Personalizar seu produto</div>
            <div class="containeringredientes">
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapperListaItems">
        <div class="containerFotoDetalhes">
          <div class="tituloItem">Hamburguin</div>
          <div class="mb-2 desc">Preço inicial: R$00,00</div>
          <div class="containerFotoItem">
            <img class="imagemItem" src="assets/imgs/hamburgerCardItem.jpg" />
          </div>
          <div class="mt-2 descItem">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form,
          </div>
          <div class="mt-3 controladorQuantidade">
            <div class="containerQuantidade">
              <span (click)="number = number - 1">-</span>

              <span>{{ number }}</span>
              <span (click)="number = number + 1">+</span>
            </div>
          </div>
        </div>
        <div class="containerEscolherAdicional">
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Escolha um acompanhamento</div>
            <div class="containerAcompanhamentos">
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
            </div>
          </div>
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Escolha a bebida</div>
            <div class="containerAcompanhamentos">
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
              <div class="containerAcompanhamento">
                <div class="containerFotoAcompanhamento"></div>
                <div class="containerTituloAcompanhamento">titulo</div>
                <div class="containerPrecoAcompanhamento">R$ 00,00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="containerEscolheringredientes">
          <div class="containerEscolha">
            <div class="tituloSecaoAdicional">Personalizar seu produto</div>
            <div class="containeringredientes">
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
              <div class="containeringrediente">
                <div class="d-flex">
                  <div class="fotoingrediente"></div>
                  <div class="ms-3 containerInfoingrediente">
                    <div class="tituloIngrediente">Titulo</div>
                    <div class="precoIngrediente">R$ 00,00</div>
                  </div>
                </div>
                <div class="ml-auto justify-self-end controladorQuantidade">
                  <div class="containerQuantidade">
                    <span (click)="number = number - 1">-</span>

                    <span>{{ number }}</span>
                    <span (click)="number = number + 1">+</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
